# Core functionality - changes here should be rare!
/src/app.py                   @Lamiv1311
/src/backend/database.py      @Lamiv1311
/src/backend/routers/auth.py  @Lamiv1311

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Lamiv1311
